{% extends 'base.html.twig' %}

{% block title %}Comptes index{% endblock %}

{% block body %}
    <h1>Comptes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcomptes</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte in comptes %}
            <tr>
                <td>{{ compte.idcomptes }}</td>
                <td>{{ compte.nom }}</td>
                <td>
                    <a href="{{ path('comptes_show', {'idcomptes': compte.idcomptes}) }}">show</a>
                    <a href="{{ path('comptes_edit', {'idcomptes': compte.idcomptes}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comptes_new') }}">Create new</a>
{% endblock %}
