{% extends 'base.html.twig' %}

{% block title %}Comptes{% endblock %}

{% block body %}
    <h1>Comptes</h1>

    <table class="striped">
        <tbody>
            <tr class="">
                <th scope="row">Nom</th>
                <td>{{ compte.nom }}</td>
            </tr>
            <tr class="">
                <th scope="row">Solde</th>
                {% if compte.lastTransaction.solde < 0 %}
                    <td style="color:red;"> <b>{{ compte.lastTransaction.solde }}</b></td>
                {% else %}
                    <td style="color:green;"> <b>{{ compte.lastTransaction.solde }}</b></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <button onclick="window.location.href = '{{ path('depot',  {'compte' : compte.idcomptes}) }}';" type="button" class="btn btn-success">Déposer</button>
    <button onclick="window.location.href = '{{ path('retrait',  {'compte' : compte.idcomptes}) }}';" type="button" class="btn btn-warning">Retirer</button>

    <table class="striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">intitule</th>
                <th scope="col">Solde</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in compte.transactions %}
                <tr class="table-light">
                    <td>{{ transaction.datestring }}</td>
                    <td>{{ transaction.intitule }}</td>
                    <td>{{ transaction.solde }}</td>
                </tr>
            {% else %}
            <tr class="table-warning">
                <td colspan="3">Aucune transaction enregistrée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href = '{{ path('login') }}';" type="button" class="btn btn-success">Déconnexion</button>
{% endblock %}
