{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="block">
    <div class="login_block">
        <h1>Identification</h1>

        {{ form_start(formConnexion) }}
            {{ form_widget(formConnexion) }}
                <button class="btn">{{ button_label|default('Connexion') }}</button>
        {{ form_end(formConnexion) }}
    </div>    
    <button onclick="window.location.href = '{{ path('register') }}';" type="button" class="btn btn-success">S'enregistrer</button>
</div>
{% endblock %}
