{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    <h1>Enregistrement</h1>
	<div class="row">
	    {{ form_start(formRegister) }}
	        {{ form_widget(formRegister) }}
	            <button class="waves-effect waves-light btn-large">
	            	{{ button_label|default('Enregistrement') }} <i class="material-icons right">send</i>
	            </button>
	    {{ form_end(formRegister) }}
	</div>
	
	<button onclick="window.location.href = '{{ path('login') }}';" type="button" class="waves-effect waves-light btn">
		Vous avez déjà un compte ?
	</button>
{% endblock %}
