{% extends 'base.html.twig' %}

{% block title %}Transactions index{% endblock %}

{% block body %}
    <h1>Transactions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idtransactions</th>
                <th>Solde</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.idtransactions }}</td>
                <td>{{ transaction.solde }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('transactions_show', {'idtransactions': transaction.idtransactions}) }}">show</a>
                    <a href="{{ path('transactions_edit', {'idtransactions': transaction.idtransactions}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transactions_new') }}">Create new</a>
{% endblock %}
